.table-row, .search-bar {
    margin-top: 2%;
}

.balanceValue {
    font-size: 250%;
}

.addButtonContainer {
    margin-top: auto;
    margin-bottom: auto;
}
.checkbox {
    margin-left: 15px;
}

.react-datepicker-wrapper, .react-datepicker__input-container, input{
    height: 100%;
}

.react-datepicker-wrapper {
    margin-right: 1.5vw;
}

.datePickerContainer label {
    margin-right: 0.5vw;
}
